@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ff0000;
  font-family: "Montserrat", sans-serif;
}

nav {
  background: #000;
  width: 90%;
  margin: 40px auto 0;
  padding: 1px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav a {
  color: #00ff00;
  background: #ffff00;
  text-decoration: underline;
  padding: 2px 3px;
  transition: opacity 0.2s;
}

nav a:hover {
  font-size: 200px;
  opacity: 0;
}

nav a.current {
  background: #ff00ff;
}

@media (min-width: 769px) {
  nav ul {
    flex-direction: row;
  }
}
