@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #00ff00;
  font-family: "Montserrat", sans-serif;
}

nav {
  background: #222;
  width: 90%;
  margin: 40px auto 0;
  padding: 20px;
  border-radius: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px 25px;
  border-radius: 8px;
  transition: 0.2s;
}

nav a:hover {
  background: rgba(255, 255, 255, 0.2);
}

nav a.current {
  background: #fff;
  color: #222;
  font-weight: 600;
}

@media (min-width: 769px) {
  nav ul {
    flex-direction: row;
  }
}
